@model WebApp.Models.ViewModel.ViewDevices

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        Προσθήκη Τερματικού
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Dashboard")"><i class="fa fa-dashboard"></i> Αρχική</a></li>
        <li class="active">Προσθήκη Τερματικού</li>
    </ol>
</section>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Προσθήκη Τερματικού</h3>
                    </div>
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="box-body">
                            <div class="form-group">
                                <label class="control-label col-md-2" for="devices_devCode">Κωδικός Συσκευής</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.devices.devCode, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.devices.devCode, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2" for="dropdowntipo">Τύπος</label>
                                <div class="col-sm-10">
                                    @Html.HiddenFor(Model => Model.devices.devType)
                                    <select id="dropdowndevType" class="form-control valid">
                                        <option value="RaspberryWin">Raspberry windows iot</option>
                                        <option value="Arduino">Arduino</option>
                                        <option value="IntelComputeStick">Intel Compute Stick</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2" for="devices_devApi">API Id</label>
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.devices.devApi, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.devices.devApi, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2" for="devices_devApiKey">API Key</label>
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.devices.devApiKey, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.devices.devApiKey, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2" for="devices_devLocation">Τοποθεσία</label>
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.devices.devLocation, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.devices.devLocation, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2" for="devices_devAdmin">UserName</label>
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.devices.devAdmin, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.devices.devAdmin, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2" for="devices_devPass">Κωδικός</label>
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.devices.devPass, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.devices.devPass, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2" for="devices_devLayoutId">Κωδικός Εμφάνισης</label>
                                <div class="col-md-10">
                                    @Html.HiddenFor(model => model.devices.devLayoutId)
                                    <select id="DevLayoutsList" class="form-control select2" data-placeholder="Select a State" style="width: 100%;">
                                        @foreach (var cevlay in Model.devlayout)
                                        {
                                            <option value="@cevlay.dvLtAutoId">@cevlay.dvLtName</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="box-footer">
                                @Html.ActionLink("Πίσω", "Index", null, new { @class = "btn btn-default" })
                                <input type="submit" value="Αποθήκευση" class="btn btn-info pull-right" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            document.getElementById('devices_devType').value = document.getElementById('dropdowndevType').value;
            document.getElementById('devices_devLayoutId').value = document.getElementById('DevLayoutsList').value;

            $('#dropdowndevType').change(function () {
                document.getElementById('devices_devType').value = $('#dropdowndevType option:selected').val();
            });
            $('#DevLayoutsList').change(function () {
                document.getElementById('devices_devLayoutId').value = $('#DevLayoutsList option:selected').val();
            });
        });
    </script>
}